* {
    box-sizing: border-box;
}

body {
    background-color: #1D4BA0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    padding: 20px;
}

.container {
    background-color: #FDD63D;
    border-radius: 25px;
    text-align: center;
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;
}